body{ 
    background-image: url(bgimg.jpg);
    font-family:sans-serif;3
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.main {
    max-width: 60%;
    display: block;
    margin: 5px auto; 
}
.column h2 {
    
    text-align: center;
}
.navbar {
    margin-top: -20px;
    overflow: hidden;
    background-color: #767D9B;
}
.navbar a { 
    float:left;
    font-size: 18px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #525971;
}
#pimg{
    max-width:100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
#p2{
    max-width:100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
#test2{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
* {
  box-sizing: border-box;
}
.column img {
    border-radius: 200px;
    float: left;
    margin-left: 15px;
   
}
.column {

  background-color:#D5DBF7;
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.content {
    padding: 20px;
    background-color:#DDE2F5;
}

/* Responsive layout */
@media screen and (max-width: 600px) {
  .column, cont {
    width: 100%;
  }
}
